:root{
    --border-background: 2px;
}

.stick_main_div{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}
.stick_main_div > .track{
    position: absolute;
    height: 10px;
    width: 100%;
    border: var(--border-background) solid orange;
    border-radius: 5px;
    background: grey;
}
.stick_main_div > .progress{
    position: absolute;
    height: 10px;
    width: 0%;
    top: var(--border-background);
    left: var(--border-background);
    border: none;
    background: hotpink;
}
.stick_main_div > .thumb{
    position: absolute;
    height: 14px;
    width: 14px;
    border: 2px solid green;
    background: greenyellow;
    top: -2px;
    z-index: 1;
}
.stick_main_div > .doubleThumb{
    position: absolute;
    height: 14px;
    width: 14px;
    border: 2px solid green;
    background: greenyellow;
    top: -2px;
    z-index: 0;
}
.stick_main_div > .outValue{
    position: absolute;
    left: -35px;
}
.stick_main_div > .vagon{
    position: absolute;
    border: 1px solid black;
    top: -25px;
}
.stick_main_div > .scale{
    position: relative;
    width: 100%;
    height: 10px;
    top: 15px;
}
.stick_main_div > .scale > .scale_value{
    display: inline;
    cursor: pointer;
}